.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container {
  background-color: #282c34;
  color: white;
}

.App-menu {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top: 0px;
  color: white;
}

.App-logic {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-movements-table {
  background-color: #343a46;
  min-height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-ledger {
  background-color: #202631;
  min-height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
